<h1><%= @events.title() %> client roster</h1>
<table>
  <tr>
    <th>Registered clients</th>
  </tr>
  <% @events.clients.each do |client| %>
  <tr>
    <td><%= client.format_name %></td>
  </tr>
  <% end %>
</table>
