<h1><%= @events.title() %> client roster</h1>
<table>
  <tr>
    <th>Registered clients</th>
    <th>Modify</th>
  </tr>
  <% @events.clients.each do |client| %>
  <tr>
    <td><%= client.format_name %></td>
  </tr>
  <% end %>
</table>
<!-- <a href="/bookings/new">Add a client to a class</a> -->

<iframe src="/bookings/new"></iframe>
