<div class="tables--onerow">
  <h2><%= @events.title() %> (max <%= @events.capacity() %>)</h2>
  <table>
    <thead>
      <tr>
        <th>Registered clients</th>
      </tr>
    </thead>
    <tbody>
      <% @events.clients.each do |client| %>
      <tr>
        <td>
          <div class="hyperlink">
            <a href="/clients/<%= client.id() %>"><%= client.format_name %></a>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
