<!-- <div class="hero-text">
<h1>Guns N' Poses</h1>
</div> -->
<div class="form--booking">
  <h2>Quick booking</h2>
  <form action="/bookings" method="post">
    <!-- <div class="form-elements">
      <label>Select class:</label><br>
    </div> -->
    <div class="form-elements">
      <select name="event_id">
        <% for event in @events %>
        <option value="<%= event.id %>"><%= event.title %></option>
        <% end %>
      </select>
    </div>

    <!-- <div class="form-elements">
      <label>Select client:</label><br>
    </div> -->
    <div class="form-elements">
      <select name="client_id">
        <% for client in @clients %>
        <option value="<%= client.id %>"><%= client.format_name %></option>
        <% end %>
      </select>
    </div>

    <div class="form-elements">
      <input class="btn" type='submit' value="Save booking">
    </div>
  </form>
</div>

<div class="logo">
  <img src="/images/silhouette-1975689_1280.png" alt="fitness_logo">
</div>
