<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <link rel="stylesheet" type="text/css" href="css/tables.css">
  <link rel="stylesheet" type="text/css" href="css/button.css">
  <link rel="stylesheet" type="text/css" href="css/forms.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
  <!-- Auto data refresh on pages, may or may not activate -->
  <!-- <META HTTP-EQUIV="refresh" CONTENT="15"> -->
  <title>Guns N' Poses</title>
</head>
<body>
  <header>
    <nav>
      <div>
        <div>
          <ul class="main-nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/events">Classes</a>
            </li>
            <li>
              <a href="/clients">Clients</a>
            </li>
            <li>
              <a href="/bookings/new">Quick booking</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="content">
      <%= yield %>
    </section>
  </header>

</body>
</html>
