<h1>Current client list...</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Modify</th>
    <th>Remove</th>
  </tr>
  <% for client in @clients %>
  <tr>
    <td><a href="/clients/<%= client.id() %>"><%= client.format_name() %></a></td>
    <td><%= client.age() %></td>
    <td><a href="/clients/<%= client.id() %>/edit">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
  <% end %>
</table>
<a href="/clients/new">Add a new class</a>
