<h1>Add a new client to the roster</h1>

<form action="/clients" method="post">
  <div class="form-wrapper">

<div class="form-elements">
  <label for="first_name">First name:</label>
  <input type="text" name="first_name" id="first_name"/>
</div>

<div class="form-elements">
  <label for="last_name">Last name:</label>
  <input type="text" name="last_name" id="last_name"/>
</div>

<div class="form-elements">
  <label for="age">Age:</label>
  <input type="number" name="age" id="age"/>
</div>

<div class="form-elements">
  <input type='submit' value="Add new client">
</div>

  </div>
</form>
